@font-face {
  font-family: "Miama";
  src: url(/fonts/Miama.ttf);
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.miama {
  font-family: "Miama", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 4.87rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.full {
  font-family: "Inter", sans-serif;
  background: black;
}
/* Shared Styles */
.display-flex {
  display: flex;
}
.font-description {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.font-title {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

.rest {
  background-color: #070707;
}

.habit-t {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: white;
}

/* Header Section Style */
.header {
  background-image: linear-gradient(to top, #111111, #777777);
  width: auto;
  max-height: 715px;
}

.hamburger {
  display: none;
  color: #fff;
  cursor: pointer;
}
.nav-title {
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 900px;
  color: rgba(230, 83, 60, 1);
}

.links {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  font-size: 18px;
  margin: 0px;
  padding: 2px;
}

.links li {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  margin: 0px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 190px;
  padding-right: 190px;
}

#home {
  background-color: rgba(230, 83, 60, 1);
  border: none;
  border-radius: 46px;
  color: white;
  text-align: center;
  font-weight: 700px;
}
.banner-img {
  /* border: 2px solid green; */
  position: relative;
}

.banner-content {
  /* max-width: 600px;
  max-height: 440px; */
  gap: 28px;
  flex-direction: column;
}

.banner-title {
  font-size: 4.87rem;
  color: white;
  max-height: 282px;
}

.after-nav {
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: space-between;
  /* border: 2px solid red; */
  /* max-width: 1080px; */
  gap: 40px;
}
.btn-head {
  gap: 14px;
}

.club {
  font-size: 18px;
  font-weight: 600px;
  padding: 16px 46px;
  background-color: #e6533c;
  color: white;
  border-radius: 42px;
  border: none;
}
.app {
  font-size: 18px;
  font-weight: 600px;
  padding: 16px 46px;
  background-color: #070707;
  color: white;
  border-radius: 42px;
  border: 2px solid white;
}
.play {
  font-size: 25px;
  padding: 20px;
  background-color: #e6533c;
  color: white;
  border-radius: 50%;
}

.btn-first {
  /* max-width: 12.06rem;
  max-height: 6.12rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 206px;
  height: 96px;
  position: absolute;
  border-radius: 1rem;
  bottom: 10%;
  left: -40%;
  gap: 20px;
  backdrop-filter: blur(5px);
}

.btn-second {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: 206px;
  height: 96px;
  position: absolute;
  border-radius: 1rem;
  right: -30%;
  top: 20%;
  backdrop-filter: blur(20px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#second-title {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  color: white;
}
#second-des {
  font-family: "Inter", sans-serif;
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
}

/* Habit Section Style */
.habits {
  display: flex;
  flex-direction: column;
  margin: 100px 198px;
  /* max-width: 65rem;
  max-height: 28rem; */
}
.habit-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  margin: 20px 50px;
}

.habit-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-left: 47px;
  padding-right: 47px;
}
.habit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* gap: 40px; */
}
.havit-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.habit-img {
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

/* Extra Mile */
.extra-mile {
  background-color: rgba(34, 34, 34, 1);
  display: flex;
  margin-top: 6.25rem;
  /* max-width: 66.25rem; */
  justify-content: space-around;
  align-items: center;
  /* gap: 5rem; */
  border: none;
  border-radius: 1rem;
  margin-left: 11.5rem;
  margin-right: 11rem;
  margin-bottom: 5rem;
}

.mile-text {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  /* margin-left: 3rem; */
  width: 28rem;
  gap: 0px;
}

.mile-class {
  width: 25.8rem;
  border: none;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.mile-btn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600px;
  padding: 16px 46px;
  max-width: 14rem;
  background-color: #e6533c;
  color: white;
  border-radius: 42px;
  border: none;
  text-align: center;
}

/* Unique Section Style */
:root {
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 3;
}
.card {
  position: sticky;
  top: 0;
}
section {
  width: 80vw;
  margin: 0 auto;
}
.card__content {
  font-family: "Inter", sans-serif;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: rgba(34, 34, 34, 1);
  border-radius: 1em;
  display: grid;
  grid-template-areas: "text img";
}
.card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 1em;
  place-items: start;
}
.card__content > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-weight: 300;
  font-size: 3.5em;
}
h2 {
  font-weight: 300;
  font-size: 2.5em;
}
p {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.42;
}

/* BMI Section */
.bmi-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 175px;
  background-color: #252525;
  padding-left: 189px;
  padding-right: 189px;
  margin-bottom: 88px;
  margin-top: 60px;
  width: 100%;
}

.bmi-chart,
.bmi-calculator {
  width: 48%;
}

.bmi-chart h2,
.bmi-calculator h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.bmi-chart {
  background-color: #252525;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #b5b5b5;
}

th,
td {
  font-family: "Inter", sans-serif;
  padding: 10px;
  border: 1px solid #404040;
  text-align: left;
}

th {
  font-weight: bold;
  color: #fff;
}

/* Calculator Section */

.bmi-calculator {
  background-color: #252525;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #a3a3a3;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-row {
  font-family: "Inter", sans-serif;
  display: flex;
  gap: 10px;
}

input,
select {
  font-family: "Inter", sans-serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3b3b3b;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  font-size: 14px;
}
.calc {
  background-color: #ff6347;
}

button {
  font-family: "Inter", sans-serif;
  padding: 10px;
  border: none;
  border-radius: 42px;
  /* background-color: #ff6347; */
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  width: 45%;
}

button:hover {
  background-color: #e55342;
}

.text {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

/* Meet Our Team Section */
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-texts {
  text-align: center;
  margin-bottom: 2.5rem;
}

.team-title {
  text-align: center;
  margin: 0;
  padding: 0;
}
.team-description {
  text-align: center;
}

.team-details {
  margin-bottom: 5.5rem;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  /* max-width: 1413px; */
  border: none;
  border-radius: 1.25rem;
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 192px;
  margin-right: 192px;
}

.team-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border: none;
  border-radius: 18px;
}

.team-container img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* color: white; */
  padding: 10px;
  border-radius: 5px;
}

.text-overlay p {
  margin: 0;
}

.trainer-title {
  font-size: 1.25rem;
  color: white;
}
.trainer-des {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

/* Footer Styles */
footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
}

.foot {
  padding-left: 10rem;
  padding-right: 10rem;
}

.footer-wrapper {
  /* background: rgba(255, 255, 255, 0.1); */
  width: 100%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
}

.paragraph {
  grid-column: 1 / span 2;
}

.footer-title {
  margin: 0;
  padding: 0;
  font-size: 70px;
  color: #e6533c;
}
.footer-nav-1 {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.footer-nav-2 {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.footer-nav-title {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
.footer-nav-1 ul > li:hover {
  color: white;
}
.footer-nav-2 ul > li:hover {
  color: white;
}

.footer-nav-1 ul {
  cursor: pointer;
  padding: 10px 0px;
  margin: 0;
}
.footer-nav-2 ul {
  cursor: pointer;
  padding: 10px 0px;
  margin: 0;
}

.footer-nav-1 > ul > li {
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  font-size: 1.5rem;
}
.footer-nav-2 > ul > li {
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  font-size: 1.5rem;
}

.part1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 20px;
  /* align-items: center; */
}

.part2 {
  text-align: center;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }
  .club{
    width: 160px;
    height: 54px;
    border-radius: 42px;
    padding: 0;
  }
  .app{
    width: 160px;
    height: 54px;
    border-radius: 42px;
    padding: 0;
  }

  .banner-content {
    flex-direction: column;
    gap: 1rem;
  }

  .after-nav {
    flex-direction: column;
  }
  .banner-title {
    font-size: 2.25rem;
  }
  p {
    /* margin-top: 192px; */
    padding: none;
  }
  .banner-description{
    padding: 0;
    margin-bottom: 16px;
  }

  .btn-first {
    left: 0;
  }

  .btn-second {
    right: -3%;
    top: 33%;
  }
  /* header .navigation {
    display: none;
} */
 .links{
  display: none;
 }
 .navigation{
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-around;
 }

header .hamburger {
    display: block;
}

  .habit-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    gap: 24px;
    /* margin: 20px 50px; */
  }
  .habits {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin: 10px 10px;
    text-align: center;
  }
  .extra-mile {
    padding: 10px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mile-class {
    width: 20rem;
    border-radius: 10px;
  }
  .mile-text {
    width: 100%;
  }
  .mile-title{
    margin: 8px 16px;
  }

  

  .part1 {
    display: flex;
    flex-direction: column;
  }

  .full {
    width: 100vw;
  }

  .bmi-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background-color: #252525;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 88px;
  }
  .team-grid {
    grid-template-columns: repeat(1, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 0px;
    margin-right: 0px;
  }
  .foot {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-wrapper {
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center; */
  }

  /* Unique Section Media Query */
  section {
    width: 100vw;
    margin: 0 auto;
  }

  #cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .card__content {
    grid-template-areas:
      "img"
      "text";
    gap: 1em;
  }
  .card {
    position: sticky;
    top: 20px;
  }

  .card__content > div {
    width: 100%;
    text-align: center;
    place-items: center;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
    padding: 0 1em;
  }

  .card__content > figure {
    height: 200px;
  }

  .card__content > figure > img {
    width: 100%;
    /* height: 50%; */
  }
}
